.--app-app-container{
  background-color: #F5F5F5;
  height: 80vh;
  width:90vw;
  border-radius: 5px;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.--app-dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
    